html, body {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  p {
    font-size: 16px;
    line-height: 24px;
  }
}

body {
  background-color: $white;

  &.fontLoaded {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

#app {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
