.productList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > li {
    display: block;
    margin: 5vw 2vw;
    display: block;
    flex: 0 0 calc(50% - 4vw);
  }
}
