<!doctype html>
<html>
<head>
  <%= helmet.title %>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width height=device-height" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta http-equiv="x-dns-prefetch-control" content="on" />
  <meta name="theme-color" content="#536878" />
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" as="font" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.png">
  <link rel="manifest" href="/assets/manifest.json">
  <%= helmet.meta %>
  <%= helmet.link %>
  <%= vendorCss ? `<link type="text/css" rel="stylesheet" href="${vendorCss}" />` : '' %>
  <link type="text/css" rel="stylesheet" href="<%= appCss %>" />
  <%= chunkCss.map(bundle => {
    return `<link type="text/css" rel="stylesheet" href="${process.env.PUBLIC_ASSET_PATH}${bundle.file}" />`
  }).join('\n') %>
  <%= helmet.script %>
  <%= helmet.noscript %>
  <%= vendorJs ? `<link rel="preload" href="${vendorJs}" as="script">` : '' %>
  <link rel="preload" href="<%= appJs %>" as="script">
  <%= chunkJs.map(bundle => {
    return `<link rel="preload" href="${process.env.PUBLIC_ASSET_PATH}${bundle.file}" as="script">`
  }).join('\n') %>
</head>
<body>
  <div id="app"><%= html %></div>
  <script>window.__INITIAL_STATE__ = <%= JSON.stringify(initialState) %>;</script>
  <%= vendorJs ? `<script src="${vendorJs}"></script>` : '' %>
  <script src="<%= appJs %>"></script>
  <%= chunkJs.map(bundle => {
    return `<script src="${process.env.PUBLIC_ASSET_PATH}${bundle.file}"></script>`
  }).join('\n') %>
  <script>window.main();</script>
  <%= env === 'production' ? `<script>
    window.SERVICE_WORKER_REGISTRATION = null;
  (function main() {
    /* navigator is a WEB API that allows scripts to register themselves and carry out their activities. */
    if ('serviceWorker' in navigator) {
      console.log('Service Worker is supported in your browser');
      /* register method takes in the path of service worker file and returns a promises, which returns the registration object */
      navigator.serviceWorker.register('/service-worker.js').then((registration) => {
        console.info('Service Worker is registered!');
        window.SERVICE_WORKER_REGISTRATION = registration;
      });
    } else {
      console.log('Service Worker is not supported in your browser');
    }
  })();
  </script>
  ` : '' %>
  <script>
//     if (!('Notification' in window)) {
//   console.log('This browser does not support notifications!');
//   // return;
// } else {
//   console.log('This browser supports notifications');
//   Notification.requestPermission().then(function (status) {
//     console.log('Notification permission status:', status);
//     new Notification("Hello World");

//   });

//   if (Notification.permission == 'granted') {

//       navigator.serviceWorker.getRegistration().then(function (reg) {
//         if (reg) {
//           console.log("registration created");
//         }
//         // TODO 2.4 - Add 'options' object to configure the notification

//         // reg.showNotification('Hello world!');
//       });
//     }
// }

  </script>
</body>
</html>
